.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3%;
    border-bottom: 1px solid black;
}

.columnItems {
    display: flex;
    flex-direction: column;
}

.rowItems {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1%;
}

.headerSpan {
    color: grey;
}

.spanSlideRed {
    color: red;
    font-weight: bold;
}

.spanSlideGreen {
    color: green;
    font-weight: bold;
}

.rowItemSpan {
    font-weight: bold;
}